# User-specific files
*.suo
*.user
*.sln.docstates

# Xamarin Studio / monodevelop user-specific
*.userprefs
*.dll.mdb
*.exe.mdb

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Mac desktop service store files
.DS_Store

# ===================================================
# Exclude F# project specific directories and files
# ===================================================

# NuGet Packages Directory
packages/

# Generated documentation folder
docs/output/

# Temp folder used for publishing docs
temp/

# Test results produced by build
TestResults.xml

# Nuget outputs
nuget/*.nupkg
release.cmd
release.sh
localpackages/
paket-files
*.orig
.paket/paket.exe
docs/content/license.md
docs/content/release-notes.md
.fake
FSharp.Formatting.svclog

# Generated FSharp.Formatting Output
output/
XmlWriter
